select option[value='low'] {
  background: #fcf952;
}

select option[value='normal'] {
  background: #91ff95;
}

select option[value='high'] {
  background: #f3a987;
}

.lowPriority {
  background-color: #fcf952;
}

.normalPriority {
  background-color: #91ff95;
}

.highPriority {
  background-color: #f3a987;
}

/* select:hover[value='low'] {
  background-color: rgba(197, 192, 192, 0.1);
  color: green;
  background: green;
} */
.select:focus {
  outline: 2px solid #2684ff;
}
