.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 300px;
}

.list li {
  flex: 0 0 calc(33.3333% - 16px);
  width: 300px;
  margin: 0 auto 10px auto;
}
